.contact {
  margin-top: 130px;
  background: #F4F9FC;
  padding-top: 100px;
  padding-bottom: 100px;
  &__content {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__text {
    width: 360px;
    span {
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.145em;
      text-transform: uppercase;
      color: #C72535;
      opacity: 0.6;
    }
    h2 {
      font-size: 25px;
      line-height: 40px;
      color: #030D15;
    }
    p {
      font-size: 14px;
      line-height: 21px;
      color: #030D15;
      opacity: 0.6;
      font-weight: bold;
    }
  }
  &__input {
    input {
      width: 350px;
      background: #FFFFFF;
      border: 1px solid rgba(0, 0, 0, 0.1);
      padding: 15px 25px;
    }
    button {
      background: #247CC0;
      padding: 13px 27px;
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;
      border: none;
    }
  }
}