.popular {
  margin-top: 125px;
  padding-bottom: 100px;
  &__title {
    text-align: center;
    span {
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      letter-spacing: 0.145em;
      text-transform: uppercase;
      color: #C72535;
      opacity: 0.6;
    }
    h1 {
      font-size: 44px;
      line-height: 71px;
      color: #030D15;
      margin-top: 5px;
    }
  }

  &__nav {
    ul {
      display: flex;
      justify-content: center;
      li {
        font-size: 14px;
        line-height: 23px;
        font-weight: bold;
        text-transform: uppercase;
        color: #030D15;
        opacity: 0.6;
        margin-right: 40px;
        cursor: pointer;
      }
    }
    .active {
      color: #C72535;
    }
  }
  &__products {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.card {

  &:hover {
    .card__show {
      display: block;
    }
  }
  position: relative;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 35px 33px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  margin-right: 30px;
  cursor: pointer;
  span {
    font-size: 16px;
    line-height: 27px;
    color: #030D15;
    display: block;
  }

  img {
    margin-top: 12px;
  }

  &__image {
    width: 245px;
    object-fit: cover;
  }

  &__name {
    font-weight: 800;
    font-size: 25px;
    line-height: 40px;
    color: #030D15;
  }
  .price {
    margin-top: 5px;
    display: inline-block;
    margin-left: 0;

    &--line {
      display: inline-block;
    }
  }
  &__grade {
    margin-top: 10px;

    &--show {
      margin-top: 0;
    }
  }

  &__show {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #FAFAFA;
    padding-bottom: 30px;
    display: none;
  }

  &__offers {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
    img {
      margin-right: 15px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__colors {
    display: flex;
  }
  &__color {
      width: 14px;
      height: 14px;
      border-radius: 10px;
      margin-right: 5px;
    &--1 {
      background: #C3D7E6;
    }
    &--2 {
      background: #15151D;
    }
    &--3 {
      background: #2F80ED;
    }
  }
}